* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #debacd;
}

header {
  display: flex;
  background-color: #b4446c;
  padding: 0px 20px;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}

#menuNavegacao {
  display: flex;
  gap: 40px;
}

#menuNavegacao li a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#menuNavegacao li a:hover {
  border-bottom: 2px solid #fff;
}

ul {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  padding: 45px 30px;
  width: 960px;
}

.sub_section {
  background-color: #ae9cc4;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 1.85em;
}

h2 {
  font-size: 1.50em;
}

h3{
  font-size: 1.35em;
  margin-bottom: 25px;
}

h4{
  font-size: 1.20em;
}

h1,
h3 {
  color: rgb(139, 67, 111);
}

h2,
h4 {
  color: #5e3671;
}

section ul {
  max-width: 760px;
  margin: auto;
}

section li {
   margin-bottom: 25px;
}

#foto_perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
}

.foto_perfil:hover {
  opacity: 0.6;
}

footer {
  background-color: #7ececa;
  height: 120px;
  padding: 0px 20px;
  display: flex;
}

#contato {
  display: flex;
  padding: 0px 20px;
  justify-content: flex-end;
  flex-direction: column;
}

footer ul {
  list-style: none;
}

footer li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

footer i {
  font-size: 20px;
  margin-bottom: 10px;
}
